<div class="col-xl-2 col-lg-3 col-md-6 col-s-12">
  <div class="card text-white bg-secondary mb-3 mx-auto" style="max-width: 18rem;">
    <div class="card-header"><%= dock_request.primary_reference %></div>
    <div class="card-body">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
