
<div class="jumbotron text-center">
  <div class="container-fluid">
    <h1 class="display-4">Welcome to Mulder WMS!</h1>
    <p class="lead">A powerful, easy to use, fully cloud SaaS for all your warehouse management needs.</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Log In</a>
    </p>
  </div>
</div>
