
<div class="center">
  <h1>StaticPages#home</h1>
  <p>Find me in app/views/static_pages/home.html.erb</p>
</div>
<div class="container">
  <div class="row">
    <div class="col bg-success">
      One of three columns
    </div>
    <div class="col-6 bg-danger">
      One of three columns
    </div>
    <div class=" col bg-warning">
      One of three columns
    </div>
  </div>
  <div class="row">
    <div class="col bg-success">
      One of three columns
    </div>
    <div class="col bg-danger">
      One of three columns
    </div>
    <div class=" col bg-warning">
      One of three columns
    </div>
  </div>
</div>
<div class="container-fluid px-0">
  <div class="row">
     <div class="col-12 bg-danger">
       your-content-goes-here
     </div>
   </div>
 </div>
