
<div class="jumbotron text-center mb-0">
  <div class="container-fluid">
    <h1 class="display-4">Welcome to Mulder WMS!</h1>
    <p class="lead">A powerful, easy to use, fully cloud SaaS for all your warehouse management needs.</p>
    <hr class="my-4">
    <p class="lead">
      <%= link_to "Log In", login_path , class: "btn btn-primary btn-lg", role: "button" if !logged_in? %>
      <%= current_user.company.name if logged_in? %>
    </p>
  </div>
</div>
