<% provide(:title, 'Dock Request Groups') %>
<% provide(:icon_class, 'fas fa-layer-group') %>
<%= provide(:new_link, new_dock_request_group_path) %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Actions</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody id="company-table-body">
      <%= render @dock_request_groups %>
    </tbody>
  </table>
</div>

<%= render 'shared/pagination', pagy: @pagy  %>
