commands:

  01_install_yarn:
    command: "sudo wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo && curl --silent --location https://rpm.nodesource.com/setup_6.x | sudo bash - && sudo yum install yarn -y"
  02_download_nodejs:
    cwd: /tmp
    command: 'sudo curl --silent --location https://rpm.nodesource.com/setup_10.x | sudo bash -'
  03_clean_yum:
    cwd: /tmp
    command block:
    command: |
      sudo rm -f /etc/yum.repos.d/nodesource-el.repo
      sudo yum clean all
      sudo yum -y remove nodejs
  04_install_nodejs:
    cwd: /tmp
    command: 'sudo yum -y install nodejs'
  05_mkdir_webapp_dir:
    command: mkdir /home/webapp
    ignoreErrors: true
  06_chown_webapp_dir:
    command: chown webapp:webapp /home/webapp
    ignoreErrors: true
  07_chmod_webapp_dir:
    command: chmod 700 /home/webapp
    ignoreErrors: true
  08_update_bundler:
    command: gem update bundler
    ignoreErrors: true

container_commands:

  09_install_webpack:
    command: npm install --save-dev webpack
  10_precompile:
    command: bundle exec rake assets:precompile
