commands:
  01_install_yarn:
    command: |
      sudo wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo
      sudo yum install yarn -y
  02_install_node:
    cwd: /tmp
    command: |
      sudo rm -f /etc/yum.repos.d/nodesource-el7.repo
      sudo rm -f /etc/yum.repos.d/nodesource-el7.repo.rpmnew
      sudo curl --silent --location https://rpm.nodesource.com/setup_12.x | sudo bash -
      sudo yum clean all
      sudo yum -y install nodejs
  04_mkdir_webapp_dir:
    command: mkdir /home/webapp
    ignoreErrors: true
  05_chown_webapp_dir:
    command: chown webapp:webapp /home/webapp
    ignoreErrors: true
  06_chmod_webapp_dir:
    command: chmod 700 /home/webapp
    ignoreErrors: true

container_commands:

  09_install_webpack:
    command: npm install --save-dev webpack
  10_precompile:
    command: RAILS_ENV=production bundle exec rake assets:precompile
