files:
  “/etc/nginx/conf.d/01-assets.conf”:
     mode: “000644”
     owner: root
     group: root
     content: |
       location ~ ^assets/ {
         gzip_static on;
         expires max;
         add_header Cache-Control public;
       }
container_commands:
  nginx_reload:
     command: “sudo service nginx reload”
