<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Event</th>
        <th scope="col">User</th>
        <th scope="col">Date/Time</th>
      </tr>
    </thead>
    <tbody id="dock-request-audit-histories-table-body">
      <%= render dock_request_audit_histories %>
    </tbody>
  </table>
</div>
