<tr id="dock_request_audit_history_<%= dock_request_audit_history.id %>">
  <th scope="row">
    <%= dock_request_audit_history.event_human_readable %>
  </th>
  <td>
    <%= dock_request_audit_history.user.full_name %>
  </td>
  <td>
    <%= local_time_if_not_blank(dock_request_audit_history.created_at) %>
  </td>
</tr>
