<%= simple_form_for @company, remote:true, :html => { :id => form_type +'-form' } do |f| %>
    <div id="feedback">
      <%= errors_for(f.object) %>
    </div>
    <div class="mb-3">
      <%= f.input :name %>
    </div>
    <% if form_type == 'update' %>
      <div class="mb-2">
        <%= f.input :enabled, wrapper: :switch %>
      </div>
    <% end %>
<% end %>
