<div class="mb-2">
  <h6>Name</h6>
  <%= @company.name %>
</div>
<div class="mb-2">
  <h6>Enabled</h6>
  <%= @company.enabled_yes_no %>
</div>
<div class="mb-2">
  <h6>Created</h6>
  <%= @company.created_at %>
</div>
<div class="mb-2">
  <h6>Updated</h6>
  <%= @company.updated_at %>
</div>
