<% width = 3 %>

<div class="container">
  <div class="row">
    <%= render 'shared/show_field', { :label => 'Name', :value => @company.name, :label_col => width } %>
    <%= render 'shared/show_field', { :label => 'Enabled', :value => human_boolean(@company.enabled), :label_col => width } %>
    <%= render 'shared/show_field', { :label => 'Created', :value => local_time(@company.created_at), :label_col => width } %>
    <%= render 'shared/show_field', { :label => 'Updated', :value => local_time(@company.updated_at), :label_col => width } %>
  </div>
</div>
