<% provide(:title, 'Companies') %>
<% provide(:icon_class, 'fas fa-building') %>
<%= provide(:new_link, new_company_path) %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Actions</th>
        <th scope="col">Name</th>
        <th scope="col">Enabled</th>
      </tr>
    </thead>
    <tbody id="company-table-body">
      <%= render @companies %>
    </tbody>
  </table>
</div>

<div class="ml-3">
  <%== pagy_bootstrap_nav_js(@pagy) %>
  <%== pagy_info(@pagy) %>
</div>
