<% provide(:title, 'Companies') %>
<% provide(:icon_class, 'fas fa-building') %>
<%= provide(:new_link, new_company_path) %>
<%= provide(:new_link_toggle, 'modal') %>
<%= provide(:new_link_target, '#create-modal') %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Actions</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody id="company-table-body">
      <%= render @companies %>
    </tbody>
  </table>
</div>

<div id="modal">
  <!-- this is where the modal to CRUD companies will populated by partials and JS. -->
</div>
