
<tr id="<%= access_policy.table_row_id %>">
  <th scope="row">
    <%= link_to 'Edit', edit_access_policy_path(access_policy), :remote => true, :'data-toggle' =>  "modal", :'data-target' => '#update-modal', :class => 'btn btn-primary btn-sm m-1'  %>
  </th>
  <td>
    <%= link_to access_policy.description, access_policy_path(access_policy),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#show-modal' }  %>
  </td>
  <td>
    <%= human_boolean(access_policy.enabled) %>
  </td>
</tr>
