<%= simple_form_for @dock_group, remote:true, :html => { :id => form_type +'-form' } do |f| %>
    <div id="feedback">
      <%= errors_for(f.object) %>
    </div>
    <div class="mb-3">
      <%= f.input :description, as: :string %>
      <% if form_type == 'update' %>
        <div class="mb-2">
          <%= f.input :enabled, wrapper: :switch %>
        </div>
      <% end %>
    </div>
<% end %>
