<% width = 3 %>

<div class="container">
  <div class="row">
    <%= render 'shared/show_field', { :label => 'Description', :value => @dock_group.description, :label_col => width } %>
    <%= render 'shared/show_field', { :label => 'Enabled', :value => human_boolean(@dock_group.enabled), :label_col => width } %>
    <%= render 'shared/show_field', { :label => 'Created', :value => local_time(@dock_group.created_at), :label_col => width } %>
    <%= render 'shared/show_field', { :label => 'Updated', :value => local_time(@dock_group.updated_at), :label_col => width } %>
  </div>
</div>
