<div class="container-fluid action-bar">
  <div class="row">
    <div class="col py-1">
      <div class="btn-group btn-group-sm enabled-filter" role="group" aria-label="Basic example">
        <%= link_to t_nf("global.all"), polymorphic_path(page.new_record),
            class: "btn #{page.button_class(:all)}" %>
        <%= link_to t_nf("global.boolean.enabled"),
            polymorphic_path(page.new_record, :enabled => "true"),
            class: "btn #{page.button_class(:enabled)}"
            %>
        <%= link_to t_nf("global.boolean.disabled"),
            polymorphic_path(page.new_record, :enabled => "false"),
            class: "btn #{page.button_class(:disabled)}"
            %>
      </div>
    </div>
  </div>
</div>
