<tr id="<%= table.row_id(record) %>">
  <% table.columns.each do |column| %>
    <td>
      <% if column.actions? && column.buttons? %>
        <% column.buttons.each do |button| %>
          <%= btn_link(button, record: record) %>
        <% end %>
      <% else %>
        <%= column.field_value(record) %>
      <% end %>
    </td>
  <% end %>
</tr>
