/* Universal */
body {
  background: #f4f4f4;
}

.navbar {
  min-height: 33px !important;
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-nav > a, .navbar-nav > div > a, .navbar-brand {
  padding-top: 6px !important;
  padding-bottom: 0 !important;
  height: 33px;
}

.navbar-brand {
  padding-top: 2px !important;
}

.page-header {
  border-bottom: 1px solid #d9d9d9;
}


/* Debug */

.debug_dump {
  width: 100%;
  margin-top: 45px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 9.5px;
}

footer {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

// Shared Error Messages Styling
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
