<% show = modal.show %>
<% record = modal.form.record %>

<div class="container">
  <div class="row">
    <% show.attributes.each do |attribute| %>
      <div class="col-lg-<%= show.label_col_width %> text-lg-right">
        <strong><%= attribute.label %>:</strong>
      </div>
      <div class="col">
        <% v = attribute.value %>
        <%= v.respond_to?(:strftime) ? local_time_if_not_blank(v) : v %>
      </div>
      <div class="w-100"></div>
    <% end %>
  </div>
</div>
<%= link_to 'History', dock_request_audit_histories_index_path(id: record.id), :class => 'btn btn-primary btn-sm m-1', :id => 'button_show_audit_history', :remote => true %>

<div id="dock_request_audit_history_wrapper">

</div>
