<footer class="text-muted text-center navbar-dark bg-dark">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-nav mx-auto">
        <%= link_to "Back to top",   '#', class: "nav-item nav-link" %>
      </div>
    </div>
  </nav>
  <p>Mulder Software</p>

</footer>
